        @media(min-width: 300px) and (max-width:500px) {
            body {
                background-color: aqua;
            }
            .container {
                display: grid;
                grid-gap: 1rem;
                /* background-color: yellow; */
                grid-template-areas: 'navbar navbar navbar navbar' 'section section section aside';
            }
        }
        
        .container {
            display: grid;
            grid-gap: 1rem;
            /* background-color: yellow; */
            grid-template-areas: 'navbar navbar navbar navbar' 'section section section aside''footer footer footer footer';
        }
        
        .item {
            background-color: #1de00f;
            border: 2px solid black;
        }
        
        #navbar {
            grid-area: navbar;
            grid-template-areas: 'navbar navbar navbar navbar';
        }
        
        #section {
            grid-area: section;
        }
        
        #aside {
            grid-area: aside;
        }
        
        #footer {
            grid-area: footer;
        }